@import url('semantic.min.css');
@import url('components/icon.min.css');
@import url('components/reset.css');
@import url('components/site.css');
@import url('components/container.css');
@import url('components/grid.css');
@import url('components/header.css');
@import url('components/image.css');
@import url('components/menu.css');
@import url('components/divider.css');
@import url('components/segment.css');
@import url('components/form.css');
@import url('components/input.css');
@import url('components/button.css');
@import url('components/list.css');
@import url('components/message.css');
@import url('components/icon.css');
@import url('components/transition.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #8a3fcc, #3d00b8);
    background-repeat: no-repeat;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}